.-table_card_name{
    max-width: 40%;
}
.-table_card_own{
    max-width: 40%;
}
.-td_card{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.-td_card_own{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}