:root{
    --bg-body: #dfdfdf;
    --bg-block: white;
    --cl-separete: #e5e7eb;
    --bd-buttons: black;
    --bg-inv-button: black;
    --cl-inv-button:white;
}
body{
    background-color: var(--bg-body);
}
.-block{
    background: var(--bg-block);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: .7em;
}
.main_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid var(--cl-separete);
}
.-nav_name{
    width: 40%;
    margin: 0;
}
.-nav_input{
    width: 100%;
    margin: 0 10px;
}
.table{
    table-layout: auto;
    width: 100%;
}
.-table_under{
    padding: 10px;
}
.-button_add{
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 1px solid var(--bd-buttons);    
    background: none;
}
.-input{
    border-radius: 20px;
    border: 1px solid var(--bd-buttons);
    padding: 5px;
}
.-input_custom_block{
    border-radius: 20px;
    border: 1px solid var(--bd-buttons);
    padding: 0 5px;
    display: flex;
}
.-password{
    border: none;
    padding: 5px 0;
    width: 100%;
    background: none;
}
.-hide{
    display: none;
}
.-button_back{
    border-radius: 20px;
    border: none;
    padding: 5px;
    background: black;
    color: white;
    font-size: 13.3px;
    margin-top: 10px;
}
.-table-button{
    width: 10%;
}
.-centerBlock{
    padding: 10px;
}
.-input_check{
    display: flex;
    justify-content: space-between;
}
.-checkbox{
    accent-color: var(--bg-inv-button);
}

.-admin{
    display: grid;
    grid-template-columns:3fr 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.configs{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}



@media (max-width: 1100px){
    .-hide-th{
        display: none;
    }
    .-admin{
        grid-template-columns:2fr 1fr;
    }
}

@media (max-width: 950px){
    .-admin{
        display: block;
    }
    .-midle-block{
        margin: 10px 0;
    }
    .-hide-th{
        display: block;
    }
}