{% extends "Main.html" %}
{% block title %}Администрирование{% endblock %}
{% block styles %}{% endblock %}

{% block content %}
{% include "screens/components/hideForms/addCardsForm.html" %}
<dialog class="form_background" id="hide_form">
    <div class="form_hide -element_block">
        <div class="form_header">
            <h2 class="form_h">Создание пользователя</h2>
            <button onclick="close_form()" class="form_close_button -button_del_close -button">X</button>
        </div>
        <div id="form_create_user" class="form_users -form_column">
            <div class="input_block -separete_block">
                <label for="registration_login" class='label_input -input_label'>Логин</label>
                <input type="text" value="" id="registration_login" class="registration_login -input_with_label">
            </div>
            <div class="input_block -separete_block">
                <label for="registration_user_name" class='label_input -input_label'>Имя пользователя</label>
                <input type="text" value="" id="registration_user_name" class="registration_user_name -input_with_label">
            </div>
            <div class="input_block -separete_block">
                <label for="registration_password" class='label_input -input_label'>Пароль</label>
                <input type="new-password" value="" oninput="password_check('registration_')" id="registration_password" class="registration_password -input_with_label">
            </div>
            <div class="input_block -separete_block">
                <label for="registration_password_check" class='label_input -input_label'>Пароль</label>
                <input type="new-password" value="" id="registration_password_check" oninput="password_check('registration_')" class="password_check -input_with_label">
            </div>
            <button id="send_reg" onclick="create_user()" class="button_send -button">Создать</button>
        </div>
    </div>
</dialog>
<dialog class="form_background" id="hide_form_update">
    <div class="form_hide -element_block">
        <div class="form_header">
            <h2 class="form_h">Настройки пользователя</h2>
            <button onclick="close_form_update()" class="form_close_button -button_del_close -button">X</button>
        </div>
        <button id="button_del_user" class='send_del -button_del_close -button' value="">Удалить пользователя</button>
        <div id="form_update_user" class="form_users -form_column">
            <div class="input_block -separete_block">
                <label for="update_login" class='label_input -input_label'>Пользоватль</label>
                <input type="text" id="update_login" readonly value="" class="login -input_with_label">
            </div>
            <div class="input_block -separete_block">
                <label for="update_user_role" class='label_input -input_label'>Роль</label>
                <select id="update_user_role" class="select_role -input_with_label">
                    <option value="" selected disabled hidden>Выбрать роль пользователя</option>
                    <option value="0">Пользователь</option>
                    <option value="1">Администратор</option>
                </select>
            </div>
            <div class="input_block -separete_block">
                <label for="update_password" class='label_input -input_label'>Пароль</label>
                <input type="new-password" id="update_password" oninput="password_check('update_')" value="" class="password -input_with_label">
            </div>
            <div class="input_block -separete_block">
                <label for="update_password_check" class='label_input -input_label'>Пароль</label>
                <input type="new-password" id="update_password_check" oninput="password_check('update_')" value="" class="password_check -input_with_label">
            </div>
            <button id="send_update" onclick="update_user()" class="button_send -button">Изменить</button>
        </div>
    </div>
</dialog>
<main class="main -admin">
    {% include "screens/components/adminCards.html" %}
    {% include "screens/components/adminUsers.html" %}
    {% include "screens/components/adminConfigs.html" %}
</main>
{% endblock %}
{% block scripts %}
<script src="/static/js/webEffects/formsVisible.js"></script>
<script src="/static/js/webEffects/passwordError.js"></script>
<script src="/static/js/webEffects/searchInput.js"></script>
<script src="/static/js/webEffects/viewPassword.js"></script>
<script src="/static/js/apiRequests/authRequests.js"></script>
<script src="/static/js/apiRequests/cardsRequests.js"></script>
<script src="/static/js/apiRequests/usersRequests.js"></script>
<script src="/static/js/apiRequests/configsRequests.js"></script>
<script>
window.addEventListener('load', function() {
    get_cards()
    get_users()
    get_configs()
})
</script>
{% endblock %}