{% extends "Main.html" %}
{% block title %}Администрирование{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/styles/cardStyle.css">
<link rel="stylesheet" href="/static/styles/userStyle.css">
<link rel="stylesheet" href="/static/styles/configStyle.css">
{% endblock %}

{% block content %}
{% include "screens/components/hideForms/addCardForm.html" %}
{% include "screens/components/hideForms/updateCardForm.html" %}
{% include "screens/components/hideForms/addUserForm.html" %}
{% include "screens/components/hideForms/updateUserForm.html" %}
{% include "screens/components/headerPanel.html" %}
<main class="main -admin">
    {% include "screens/components/adminCards.html" %}
    {% include "screens/components/adminUsers.html" %}
    {% include "screens/components/adminConfigs.html" %}
</main>
{% endblock %}
{% block scripts %}
<script src="/static/js/webEffects/formsVisible.js"></script>
<script src="/static/js/webEffects/passwordError.js"></script>
<script src="/static/js/webEffects/searchInput.js"></script>
<script src="/static/js/webEffects/viewPassword.js"></script>
<script src="/static/js/apiRequests/authRequests.js"></script>
<script src="/static/js/apiRequests/cardsRequests.js"></script>
<script src="/static/js/apiRequests/usersRequests.js"></script>
<script src="/static/js/apiRequests/configsRequests.js"></script>
<script src="/static/js/webEffects/openBlock.js"></script>
<script>
window.addEventListener('load', function() {
    get_cards()
    get_users()
    get_configs()
})
</script>
{% endblock %}