{% extends "Main.html" %}
{% block title %}Авторизация{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/styles/authStyle.css">
{% endblock %}

{% block content %}
<main>
    <div class="authForm -block -centerBlock -authBlock">
        <label for="login" class="user">Логин</label>
        <input id="login" class="user -input" type="text">
        <label for="password" class="password -server">Пароль</label>
        <div class="password-block -input_custom_block">
            <input id="password" class="password -password" type="password">
            <button id="password-show" class="password-control -password_view"><span></span></button>
        </div>
        <div class="check_box -input_check">
            <label for="expires">Остаться в системе</label>
            <input id="expires" class="expires -checkbox" type="checkbox">
        </div>
        <button id="send_auth" onclick="auth()" class="button_send -button_back">Войти</button>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="/static/js/webEffects/viewPassword.js"></script>
<script src="/static/js/apiRequests/authRequests.js"></script>
{% endblock %}