<dialog class="form_background" id="hide_form">
    <div class="form_hide -element_block">
        <div class="form_header">
            <h2 class="form_h">Создание пользователя</h2>
            <button onclick="close_form()" class="form_close_button -button_del_close -button">X</button>
        </div>
        <div id="form_create_user" class="form_users -form_column">
            <div class="input_block -separete_block">
                <label for="registration_login" class='label_input -input_label'>Логин</label>
                <input type="text" value="" id="registration_login" class="registration_login -input_with_label">
            </div>
            <div class="input_block -separete_block">
                <label for="registration_user_name" class='label_input -input_label'>Имя пользователя</label>
                <input type="text" value="" id="registration_user_name" class="registration_user_name -input_with_label">
            </div>
            <div class="input_block -separete_block">
                <label for="registration_password" class='label_input -input_label'>Пароль</label>
                <input type="new-password" value="" oninput="password_check('registration_')" id="registration_password" class="registration_password -input_with_label">
            </div>
            <div class="input_block -separete_block">
                <label for="registration_password_check" class='label_input -input_label'>Пароль</label>
                <input type="new-password" value="" id="registration_password_check" oninput="password_check('registration_')" class="password_check -input_with_label">
            </div>
            <button id="send_reg" onclick="create_user()" class="button_send -button">Создать</button>
        </div>
    </div>
</dialog>