<dialog class="form_background" id="hide_card_form">
    <div class="form_hide -element_block">
        <div class="form_header">
            <h2 class="form_h">Создание карты</h2>
            <button onclick="close_card_form()" class="form_close_button -button_del_close -button">X</button>
        </div>
        <div id="form_create_user" class="form_users -form_column">
            <select id="code_format">
                <option value="test">test</option>
            </select>
            <div class="input_block -separete_block">
                <label for="code" class='label_input -input_label'>Код карты</label>
                <input type="text" value="" id="code" class="code -input_with_label">
            </div>
            <button id="send_code" onclick="create_card()" class="button_send -button">Создать</button>
        </div>
    </div>
</dialog>