:root{
    --bg-body: #f2f7ff;
}
body{
    background-color: var(--bg-body);
}
.-admin{
    display: grid;
    grid-template-columns:3fr 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.-block{
    background: white;
    border-radius: .7em;
}
.configs{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.main_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid #e5e7eb;
}
.block-name{
    margin: 0;
}
.-button_add{
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 1px solid black;    
    background-color: none;
}
.-input_separete{
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
}

@media (max-width: 1100px){
    .-hide-th{
        display: none;
    }
    .-admin{
        grid-template-columns:2fr 1fr;
    }
}

@media (max-width: 950px){
    .-admin{
        display: block;
    }
    .-midle-block{
        margin: 10px 0;
    }
    .-hide-th{
        display: block;
    }
}