<section id="configs" class="configs -block">
    <article class="main_nav">
        <h3 class="block-name">Конфигурации</h3>
        <input oninput="search_on_page('_configs')" id="search_configs" type="text" class="search_input -separete_main -input_separete" placeholder="Поиск конфигов">
    </article>
    <table class="table">
        <thead>
            <tr class="table_header">
                <th class="table_element -table_header_first">Конфиг</th>
                <th class="table_element -hide-th">Описание</th>
                <th class="table_element -table_header_end -table-input">Значение</th>
            </tr>
        </thead>
        <tbody id="table_block">
        </tbody>
    </table>
</section>