<section id="cards" class="cards -block">
    <article class="main_nav">
        <h3 class="block-name -nav_name">Администрирование карт</h3>
        <input oninput="search_on_page('_cards')" id="search_cards" type="text" class="search_input -nav_input -input" placeholder="Поиск карт">
        <button onclick="open_card_form()" class="button_add_cards -button_add -nav_button" id="add_button"><span>&#10010</span></button>
    </article>
    <table class="table -table_under">
        <thead>
            <tr class="table_header">
                <th class="table_element -table_header_first -table_card_name">Карта</th>
                <th class="table_element -table_card_own">Владелец</th>
                <th class="table_element -table_header_end -table-button"></th>
            </tr>
        </thead>
        <tbody id="table_block_cards">
        </tbody>
    </table>
</section>