<section id="configs" class="configs -block">
    <article class="main_nav">
        <h3 class="block-name -nav_name">Конфигурации</h3>
        <input oninput="search_on_page('_configs')" id="search_configs" type="text" class="search_input -nav_input -input" placeholder="Поиск конфигов">
    </article>
    <table class="table -table_under">
        <thead>
            <tr class="table_header">
                <th class="table_element -table_header_first -table_conf_name">Конфиг</th>
                <th class="table_element -hide-th -table_conf_about">Описание</th>
                <th class="table_element -table_header_end -table-input">Значение</th>
                <th class="table_element -table_header_end -table-button"></th>
            </tr>
        </thead>
        <tbody id="table_block">
        </tbody>
    </table>
</section>