{% extends "sample.html" %}
{% block title %}Администрирование{% endblock %}
{% block styles %}{% endblock %}

{% block content %}
<dialog class="form_background" id="hide_form_update_card">
    <div class="form_hide -element_block">
        <div class="form_header">
            <h2 class="form_h">Настройки карты</h2>
            <button onclick="close_form_update_card()" class="form_close_button -button_del_close -button">X</button>
        </div>
        <button id="button_del_card" class='send_del -button_del_close -button' value="">Удалить карту</button>
        <div id="form_update_user" class="form_users -form_column">
            <div class="input_block -separete_block">
                <label for="update_card" class='label_input -input_label'>ID карты</label>
                <input type="text" id="update_card" readonly value="" class="login -input_with_label">
            </div>
            <select id="update_card_own" class="select_role -input_with_label">
            </select>
            <button id="send_update" onclick="update_card()" class="button_send -button">Изменить</button>
        </div>
    </div>
</dialog>
<dialog class="form_background" id="hide_form">
    <div class="form_hide -element_block">
        <div class="form_header">
            <h2 class="form_h">Создание пользователя</h2>
            <button onclick="close_form()" class="form_close_button -button_del_close -button">X</button>
        </div>
        <div id="form_create_user" class="form_users -form_column">
            <div class="input_block -separete_block">
                <label for="registration_login" class='label_input -input_label'>Логин</label>
                <input type="text" value="" id="registration_login" class="registration_login -input_with_label">
            </div>
            <div class="input_block -separete_block">
                <label for="registration_user_name" class='label_input -input_label'>Имя пользователя</label>
                <input type="text" value="" id="registration_user_name" class="registration_user_name -input_with_label">
            </div>
            <div class="input_block -separete_block">
                <label for="registration_password" class='label_input -input_label'>Пароль</label>
                <input type="new-password" value="" oninput="password_check('registration_')" id="registration_password" class="registration_password -input_with_label">
            </div>
            <div class="input_block -separete_block">
                <label for="registration_password_check" class='label_input -input_label'>Пароль</label>
                <input type="new-password" value="" id="registration_password_check" oninput="password_check('registration_')" class="password_check -input_with_label">
            </div>
            <button id="send_reg" onclick="create_user()" class="button_send -button">Создать</button>
        </div>
    </div>
</dialog>
<dialog class="form_background" id="hide_form_update">
    <div class="form_hide -element_block">
        <div class="form_header">
            <h2 class="form_h">Настройки пользователя</h2>
            <button onclick="close_form_update()" class="form_close_button -button_del_close -button">X</button>
        </div>
        <button id="button_del_user" class='send_del -button_del_close -button' value="">Удалить пользователя</button>
        <div id="form_update_user" class="form_users -form_column">
            <div class="input_block -separete_block">
                <label for="update_login" class='label_input -input_label'>Пользоватль</label>
                <input type="text" id="update_login" readonly value="" class="login -input_with_label">
            </div>
            <div class="input_block -separete_block">
                <label for="update_user_role" class='label_input -input_label'>Роль</label>
                <select id="update_user_role" class="select_role -input_with_label">
                    <option value="" selected disabled hidden>Выбрать роль пользователя</option>
                    <option value="0">Пользователь</option>
                    <option value="1">Администратор</option>
                </select>
            </div>
            <div class="input_block -separete_block">
                <label for="update_password" class='label_input -input_label'>Пароль</label>
                <input type="new-password" id="update_password" oninput="password_check('update_')" value="" class="password -input_with_label">
            </div>
            <div class="input_block -separete_block">
                <label for="update_password_check" class='label_input -input_label'>Пароль</label>
                <input type="new-password" id="update_password_check" oninput="password_check('update_')" value="" class="password_check -input_with_label">
            </div>
            <button id="send_update" onclick="update_user()" class="button_send -button">Изменить</button>
        </div>
    </div>
</dialog>
<main class="main -admin">
    <section id="cards" class="cards -block">
        <article class="main_nav">
            <h3 class="block-name">Администрирование карт</h3>
            <div class="search_form -separete_block">
                <input oninput="search_on_page('_cards')" id="search_cards" type="text" class="search_input -separete_main -input_separete" placeholder="Поиск карт">
                <input onclick="search_on_page('_cards')" id="search_cards" type="button" class="search_button -separete_second -button_separete" value="Поиск">
            </div>
        </article>
        <table class="table">
            <thead>
                <tr class="table_header">
                    <th class="table_element -table_header_first">Карта</th>
                    <th class="table_element">Владелец</th>
                    <th class="table_element -table_header_end -table-button"></th>
                </tr>
            </thead>
            <tbody id="table_block_cards">
            </tbody>
        </table>
    </section>
    <section id="configs" class="configs -block">
        <article class="main_nav">
            <h3 class="block-name">Конфигурации</h3>
            <div class="search_form -separete_block">
                <input oninput="search_on_page('_configs')" id="search_configs" type="text" class="search_input -separete_main -input_separete" placeholder="Поиск конфигов">
                <input onclick="search_on_page('_configs')" type="button" class="search_button -separete_second -button_separete" value="Поиск">
            </div>
        </article>
        <table class="table">
            <thead>
                <tr class="table_header">
                    <th class="table_element -table_header_first">Конфиг</th>
                    <th class="table_element">Описание</th>
                    <th class="table_element -table_header_end -table-input">Значение</th>
                </tr>
            </thead>
            <tbody id="table_block">
            </tbody>
        </table>
    </section>
    <section id="users" class="users -block -midle-block">
        <article class="main_nav">
            <h3 class="block-name">Пользователи</h3>
            <form class="search_form -separete_block">
                <input type="text" oninput="search_on_page('_users')" id="search_users" class="search_input -separete_main -input_separete" placeholder="Поиск пользователей">
                <input type="button" onclick="search_on_page('_users')" class="search_button -separete_second -button_separete" value="Поиск">
            </form>
            <button onclick="open_form()" class="button_add_user -button_image" id="add_button"><img src="/static/image/add.svg" alt="Добавить пользователя"></button>
        </article>
        <table class="table">
            <thead>
                <tr class="table_header">
                    <th class="table_element -table_header_first">Логин</th>
                    <th class="table_element">Имя</th>
                    <th class="table_element">Роль</th>
                    <th class="table_element -table_header_end -table-button"></th>
                </tr>
            </thead>
            <tbody id="table_block_users">
            </tbody>
        </table>
    </section>
</main>
{% endblock %}
{% block scripts %}
<script src="/static/js/admin/admin.js"></script>
{% endblock %}