{% extends "sample.html" %}

{% block title %}Авторизация{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="form_with_back">
    <label for="login" class="user -hide -server">Логин</label>
    <input id="login" class="user -input -hide -server" type="text">
    <label for="password" class="password -hide -server">Пароль</label>
    <div class="password-block -input">
        <input id="password" class="password -password" type="password">
        <div id="password-show" class="password-control"></div>
    </div>
    <div class="check_box">
        <label for="expires">Остаться в системе</label>
        <input id="expires" class="expires -input" type="checkbox">
    </div>
    <button id="send_auth" onclick="auth()" class="button_send -button">Войти</button>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}